<div data-role="header">
  <h1><%= @event.title %></h1>
  <%= link_to 'Home', events_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
    <h2 >
        @<%= @event.venue %>
    <p>
        <%= @event.description %>
    </p>
    </h2>
</div>
