<div data-role="header">
  <h1 class="ui-title"><%= @event.band %></h1>
  <%= link_to 'Home', root_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
    <h2 >
        @<%= @event.venue %>
    <p>
        <%= @event.description %>
    </p>
    </h2>
</div>
